 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 body {
     background-color: black;

 }

 .main {
     background-image: url(files/image/newbg.jpg);
     height: 95vh;
     position: relative;
     background-position: center center;
     background-repeat: no-repeat;
 }



 .main .box {
     background-color: black;
     height: 95vh;
     width: 100%;
     opacity: 0.79;
     position: absolute;
     top: 0;

 }

 nav {
     max-width: 160vh;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 84px;
 }

 nav img {
     position: relative;
     z-index: 10;
 }

 button {
     position: relative;
     z-index: 10;
 }

 .eng {
     padding: 8px 31px;
     background-color: transparent;
     color: white;
     border: 0.5px rgba(255, 255, 255, 0.557) solid;
     border-radius: 4px;
     font-weight: bold;
 }

 .sign {
     margin-left: 25px;
     font-weight: bold;
     padding: 8px 18px;
     background-color: red;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 .text {
     color: white;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     top: 28vh;
     gap: 20px;
 }

 .text> :nth-child(1) {
     font-size: 48px;
     font-weight: 900;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .text>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;
     font-family: 'Martel Sans', sans-serif;
 }

 .text> :nth-child(3) {
     font-size: 20px;
     font-weight: 400;
     font-family: 'Martel Sans', sans-serif;

 }

 .line {
     border: 5px solid gray;
     border: none;
     height: 8px;
     background-color: rgba(128, 128, 128, 0.32);
 }



 .get {
     padding: 18px 50px;
     color: white;
     font-size: 19px;
     font-weight: bold;
     background-color: red;
     color: white;
     border: none;
     border-radius: 4px;
     margin-left: 10px;
     cursor: pointer;
 }

 .main input {
     padding: 22px 190px 18px 14px;
     background-color: rgba(0, 0, 0, 0.185);
     border: 0.1px red solid;
     border-radius: 4px;
     font-size: 17px;

 }


 .main2 {
     display: flex;
     max-width: 90vw;
     margin: auto;
     padding: 55px;
     color: white;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .textmain2 {
     display: flex;
     flex-direction: column;
     gap: 10px;

 }

 .textmain2>:nth-child(1) {
     font-size: 48px;
     font-weight: 900;
 }

 .textmain2>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;
 }

 .textmain2>:nth-child(3) {
     font-size: 24px;
     font-weight: 400;
 }

 .main2 .secimg img {
     width: 38vw;
     position: relative;

 }

 .main2 .secimg video {
     position: absolute;
     width: 28vw;
     right: 255px;
     top: 142px;
     z-index: -1;
 }

 .main3 {
     color: white;
     padding: 30px;
 }


 .main3 .section_main3 {
     display: flex;
     flex-direction: row-reverse;
     align-content: center;
     align-items: center;
     max-width: 80vw;
     position: relative;
 }

 .textmain3 {
     display: flex;
     flex-direction: column;
     gap: 10px;

 }

 .textmain3>:nth-child(1) {
     font-size: 48px;
     font-weight: 900;
 }

 .textmain3>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;
 }

 .main3 section .imgmain3 img {
     width: 550px;
 }

 .section_main3 .box {
     width: 315px;
     height: 95px;
     border: 1px solid white;
     position: relative;
     left: 115px;
     bottom: 130px;
     border-radius: 8px;
     background-color: black;
 }

 .main3 section .box img {
     width: 54px;
     padding: 10px;
     position: relative;
 }

 .main3 section .box {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 5px;
 }

 .main3 .box-text {
     display: flex;
     flex-direction: column;
 }

 .box-text>:nth-child(1) {
     font-size: 16px;
     font-weight: 500;
 }

 .box-text>:nth-child(2) {
     color: #0071eb;
     font-size: 14px;
     font-weight: 400;
 }

 .main4 {
     color: white;
     position: relative;
     padding: 55px;

 }

 .main4 img {
     height: 420px;
 }

 .section_main4 {
     display: flex;
     align-content: center;
     align-items: center;
     max-width: 160vh;
     margin: auto;

 }

 .textmain4 {
     display: flex;
     flex-direction: column;
     gap: 10px;

 }

 .textmain4>:nth-child(1) {
     font-size: 48px;
     font-weight: 900;
 }

 .textmain4>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;
 }

 .imgvid video {
     width: 330px;
     position: absolute;
     top: 90px;
     right: 400px;
     z-index: -1;
 }

 .main5 {
     color: white;
     padding: 40px;
 }

 .section_main5 {
     display: flex;
     flex-direction: row-reverse;
     max-width: 90vw;
     margin: auto;
     justify-content: center;
     align-items: center;
 }

 .texmain5 {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .texmain5>:nth-child(1) {
     font-size: 48px;
     font-weight: 900;
 }

 .texmain5>:nth-child(2) {
     font-size: 24px;
     font-weight: 400;
 }



 .main6 {
     color: white;
     padding: 30px;
 }

 .main6 section h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: 900;
     margin: 20px;
 }

 .main6 .boxes {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .main6 .boxes button {
     background-color: rgb(46, 46, 46);
     border: none;
     width: 75vw;
     height: 12vh;
     margin: 5px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     font-size: 24px;
     font-weight: 400;
     color: white;
     cursor: pointer;
 }

 .main6 .boxes .box:hover {
     background-color: rgba(128, 128, 128, 0.47);
 }

 .main6 h3 {
     text-align: center;
     margin: 40px;
     font-weight: normal;
 }

 .main6 .input-getstarted {
     display: flex;
 }

 .input-getstarted input {
     background-color: rgba(0, 0, 0, 0.573);
     border: 0.1px solid red;
 }

 .input-getstarted {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
 }

 .input-getstarted input {
     /* top right bottom left */
     padding: 16px 100px 16px 10px;
     font-size: 20px;
     border-radius: 4px;
     color: white;
 }

 .main7 {
     margin: 60px;
     color: white;
     font-size: 16px;
     font-weight: 400;
     font-family: 'Martel Sans', sans-serif;

 }

 .main7 a {
     color: white;
     text-decoration: underline 1px;
 }

 .main7 p {
     margin-left: 100px;
 }

 .main7 .features {
     display: grid;
     /* grid-template-columns: 300px 300px 300px 300px; */
     grid-template-columns: repeat(4, 300px);

     font-weight: 100;
     row-gap: 10px;
     margin: 10px;
     justify-content: center;
 }

 .main7 .eng {
     margin: 10px 0px 0px 95px;
 }

 .main7 .bottom {
     margin: 20px 0px 0px 95px;
     font-weight: 10;
 }